<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wga">

    <!-- 권한은 application 태그 외부에 위치 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"> <!-- Cleartext 트래픽 허용 추가 -->

        <!-- 스플래시 액티비티를 앱의 시작 화면으로 설정 -->
        <activity android:name=".Splash"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity 정의 -->
        <activity android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".LoginActivity" />

        <!-- SignUpActivity 정의 -->
        <activity android:name=".SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".WgahistoryClickActivity" />

        <activity android:name=".FCodeActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".FNewActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".SendLetterActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".calActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".SuccessActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".FNameActivity" />

        <activity
            android:name=".AIConsultingActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".NotiPermiActivity">

        </activity>

        <activity android:name=".HistoryActivity" />

    </application>

</manifest>
